initialize() {
	initializeMutationRate(0);
	initializeMutationType("m2", 1.0, "f", 0.2); // m2 : beneficial muatation (fully dominant, selection coefficient)
	initializeGenomicElementType("g1", m2, 1.0);
	initializeGenomicElement(g1, 0, 999999); // 1 chromosome of 100 mega bases  
	initializeRecombinationRate(1e-8); // mutation rate of 1e-8 for the whole chromosome par paire de base
	initializeTreeSeq();
}

1 early() {
	defineConstant("simID", getSeed());
	nb_subpop = 2;
	for (i in 1:nb_subpop)
		sim.addSubpop(i, 1000);
	for (i in 1:nb_subpop)
		for (j in 1:nb_subpop)
			if (i != j)
				sim.subpopulations[i-1].setMigrationRates(j, 0.05);
}

1 late() {
	
	target = sample(p1.genomes, 1);
   target.addNewDrawnMutation(m2, 500000); // introduce the sweep mutation

	sim.outputFull(tempdir() + "slim_" + simID + ".txt"); // save the state of the simulation
}

mutationEffect(m2, p2) { return 1.0; } // return --> 1-hs (fitness, h coeff dominance, s coeff selection)

1:500 late() {
	if (sim.countOfMutationsOfType(m2) != 0) {
		cat(simID + ": STILL PRESENT\n");
		//sim.simulationFinished();
	}
	else {
		cat(simID + ": LOST or FIXED – RESTARTING\n"); 
		sim.readFromPopulationFile(tempdir() + "slim_" + simID + ".txt"); // go back to tick 1000
		setSeed(rdunif(1, 0, asInteger(2^62) - 1)); // start a newly seeded run
			
		//target = sample(p1.genomes, 1);
		//target.addNewDrawnMutation(m2, 50000); // re-introduce the sweep mutation
	}
}

500 late() {
	sim.simulationFinished();
	sim.treeSeqOutput("/Users/perrinekergoat/Master_Project/Code/Data/Results1.trees");
}


     
     

